html {
  --font-family: Arial, Helvetica, sans-serif;
  --primary-color: #d9d900;
  --secondary-color: rgb(40, 49, 38);
  --tertiary-color: antiquewhite;
  --text-color: white;
  --main-bg-color: rgb(231, 231, 231);
  --card-border-color: black;
  --card-bg-color: white;
  --padding-small: 8px;
  --padding-medium: 16px;
  --padding-large: 30px;
  --font-weight-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-small);
}

.page-title {
  font-weight: 500;
  font-size: 24px;
  padding: var(--padding-medium);
  background-color: var(--primary-color);
  color: var(--text-color);
}

.page-container {
  display: flex;
  flex: 1;
}

nav {
  min-width: 200px;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);

  .menu-container {
    position: sticky;
    top: 0;
  }

  .menu-title {
    font-size: 20px;
    text-align: center;
    padding: var(--padding-small);
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
  }

  ul {
    background-color: var(--secondary-color);
    color: var(--secondary-color);

    li {
      border: 1px solid var(--secondary-color);
      padding: var(--padding-small);
      background-color: var(--tertiary-color);
    }
  }
}

main {
  width: 100%;
  flex: auto;
  background-color: var(--main-bg-color);
}

.list {
  display: flex;
  column-gap: 24px;
  row-gap: 16px;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: space-around;
}

.card {
  border: 1px solid var(--card-border-color);
  background-color: var(--card-bg-color);
  padding: var(--padding-large);
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

footer {
  background-color: var(--tertiary-color);
  padding: var(--padding-medium);
}

@media screen and (max-width: 768px) {
  .toolbar {
    display: none;
  }

  .page-title {
    font-size: 16px;
  }

  .menu-title {
    display: none;
  }

  .page-container {
    flex-direction: column;
  }

  nav {
    position: sticky;
    top: 0;
  }

  ul {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: var(--padding-small);
  }

  li {
    text-align: center;
    list-style: none;
    width: 100%;
  }

  .card {
    flex-direction: row;
    border: none;
    width: 100%;
    justify-content: flex-start;
    gap: 30px;
    text-align: left;
    padding: var(--padding-medium);

    img {
      border-radius: 100%;
    }
  }

  .list {
    gap: 4px;
    padding: var(--padding-medium);
  }
}
